{% extends 'menu/base.html' %}
{% load static %}

{% block title %}Galería - Bachkatov Detailing{% endblock %}

{% block content %}
<section class="gallery-page">
    <h1>Galería</h1>
    <p>Algunos de nuestros mejores trabajos</p>

    <div class="gallery-grid">
        <img src="{% static 'inicio/img/despues7.jpg' %}" alt="Trabajo 1" class="lazy-img">
        <img src="{% static 'inicio/img/despues3.jpg' %}" alt="Trabajo 2" class="lazy-img">
        <img src="{% static 'inicio/img/despues1.jpg' %}" alt="Trabajo 3" class="lazy-img">
        <img src="{% static 'inicio/img/despues2.jpg' %}" alt="Trabajo 4" class="lazy-img">
    </div>
</section>
{% endblock %}
